@import "tailwindcss";

:root {
  --blue-light: #d0d6f9;
  --blue-dark: #0b0d17;

  --white: #ffffff;

  --fn-barlow: "Barlow Condensed";
  --fn-bellefair: "Bellefair";

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  html {
    font-size: clamp(0.8em, 0.4em + 1.2vw, 1.4em);
  }

  body {
    font-family: "Barlow", system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
  }
}

@layer components {
  /*MAIN BG*/
  .main-bg {
    @apply min-h-screen bg-cover bg-no-repeat bg-center bg-(--blue-dark);
  }

  .home-bg {
    @apply bg-[url("/home/background-home-mobile.jpg")] md:bg-[url("/home/background-home-tablet.jpg")] lg:bg-[url("/home/background-home-desktop.jpg")];
  }
  .crew-bg {
    @apply bg-[url("/crew/background-crew-mobile.jpg")] md:bg-[url("/crew/background-crew-tablet.jpg")] lg:bg-[url("/crew/background-crew-desktop.jpg")];
  }
  .dest-bg {
    @apply bg-[url("/destination/background-destination-mobile.jpg")] md:bg-[url("/destination/background-destination-tablet.jpg")] lg:bg-[url("/destination/background-destination-desktop.jpg")];
  }
  .tech-bg {
    @apply bg-[url("/technology/background-technology-mobile.jpg")] md:bg-[url("/technology/background-technology-tablet.jpg")] lg:bg-[url("/technology/background-technology-desktop.jpg")];
  }

  /*NAVIGATION*/
  .navigation {
    @apply flex justify-between items-center w-full pl-8 pt-6;
  }

  .navigation-list {
    @apply text-(--white)/70 flex gap-10 uppercase tracking-widest font-(family-name:--fn-barlow) md:bg-(--blue-light)/10 md:h-full md:p-3 md:relative md:pl-20 text-[1.2rem];
  }

  .navigation-list li {
    position: relative;
  }
  .active-page {
    @apply text-white;
  }
  .navigation-list li.active-page::after {
    content: "";
    width: 90%;
    height: 0.3rem;
    background-color: var(--white);
    position: absolute;
    left: 50%;
    bottom: -0.8rem;
    transform: translateX(-50%);
    z-index: 5;
  }

  .navigation-list li:hover {
    @apply text-(--white)/90;
  }
  .navigation-list li:hover::after {
    content: "";
    width: 90%;
    height: 0.3rem;
    background-color: var(--white);
    position: absolute;
    left: 50%;
    bottom: -0.8rem;
    opacity: 0.5;
    transform: translateX(-50%);
    z-index: 3;
  }

  .page-container {
    @apply flex flex-col items-center lg:justify-center;
  }

  /* HOME ROUTE */

  .home-btn {
    @apply text-clip text-[1.5rem] bg-(--white) uppercase size-45 rounded-full tracking-widest cursor-pointer lg:size-60 lg:px-15 relative z-2;
  }

  .home-btn:hover::after {
    content: "";
    width: 100%;
    height: 100%;
    background: var(--color-white);
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: -2;
    opacity: 0.1;
    padding: 10rem;
    border-radius: 100%;
    transform: translateX(-50%) translateY(-50%);
  }

  /*DESTINATION ROUTE*/
  .dest-description {
    @apply text-(--blue-light) uppercase tracking-[0.2em] text-[1rem] font-(family-name:--fn-barlow) font-extralight lg:text-[.8rem];
  }
  .dest-value {
    @apply uppercase text-(--white) text-[1.8rem] font-(family-name:--fn-bellefair) lg:text-[1.2rem];
  }

  .active-dest {
    @apply text-(--white) relative;
  }

  .active-dest::after {
    content: "";
    width: 80%;
    height: 0.2rem;
    background-color: var(--white);
    position: absolute;
    left: 49%;
    transform: translateX(-51%);
    bottom: -50%;
    border-radius: 0.3rem;
  }

  /*CREW ROUTE*/
  .crew-picture {
    @apply px-15 py-5 relative z-1 overflow-hidden md:max-w-[35rem] md:py-0 lg:max-w-full lg:p-0;
  }
  .blur-bg {
    background: var(--blue-dark);
    width: 80%;
    height: 2rem;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    transform: translateX(-50%);
    @apply blur-sm brightness-160 md:w-0 md:h-0 lg:w-[100%] lg:h-[2rem] lg:-bottom-[1.6rem];
  }
}

@layer utilities {
  .site-padding {
    @apply p-5 lg:p-10;
  }

  .bg-backdrop-filter {
    @apply backdrop-brightness-90 backdrop-contrast-90 backdrop-saturate-150;
  }
}
